<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alyhassan.caveman"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@android:style/Theme.Black">
        <activity
            android:name=".gui.CavemanMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.LevelScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.alyhassan.caveman.PLAYGAME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".options.OptionsMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.alyhassan.caveman.OPTIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity android:name=".gui.AboutPage"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.alyhassan.caveman.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>